@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Permanent+Marker&display=swap');


* {
    margin: 0;
    padding: 0;


}

.menu ul {
    margin: 15px;
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;


}

.menu ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: black;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
}

#ms {
    background-color: black;
}

.menu ul a:hover {
    color: rgb(61, 61, 238);
    transition-duration: 350ms;

}

.section1 h1 {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    background-repeat: none;
    background-size: cover;
    align-items: center;
}

#cuerpo {
    background-color: rgba(5, 5, 58, 0.315);
    margin: 5px;
}

.section2 h2 {
    margin-left: 20px;
    
}

.section2 h2 a{
    text-decoration: none;
    color: rgb(184, 187, 172);
    font-weight: 600;
}

#vengadores {
    padding: 5px;
}

.ms-galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
    padding: 10px;
}

.ms-galeri p {
    margin: auto;
    color: #fff;
    text-align: center;
    line-height: 20rem;
    background: #000;
    transition: opacity .4s linear;
    cursor: pointer;
    position: absolute;
    top: 55fr;
    left: 10px;
    opacity: 0;
    border-radius: 10px;
}


.ms-galeri :hover p {
    opacity: .75;
}

.ms-galeri div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}



.ms-galeri div:hover {
    flex: 2;

}


.footer h2 {
    display: flex;
    justify-content: space-around;
}


.footer{
font-size: 12px;
}




@media (max-width:700px) {
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .ms-galeri {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;


    }

    .section1 h1 {

        display: grid;
        justify-items: center;


    }



}